---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header'
import Contact from '@/components/Contact'
import sai from '@/assets/projects/sai.webp'
import a022 from '@/assets/projects/a022.webp'
import siga from '@/assets/projects/siga.webp'
import mcu from '@/assets/projects/mcu.webp'
import naats from '@/assets/projects/naats.webp'
import ttt from '@/assets/projects/ttt.webp'

const projects = [
    {
        name: 'SAI',
        type: 'Website',
        url: 'https://saipv.info',
        date: 'June, 2026',
        image: sai,
        stack: ['Astro', 'React', 'Shadcn UI', 'TypeScript', 'Tailwind CSS']
    },
    {
        name: 'Naats',
        type: 'Website',
        url: 'https://naats.site',
        date: 'June, 2025',
        image: naats,
        stack: ['Astro', 'TypeScript', 'Tailwind CSS']
    },
    {
        name: 'Chess 022',
        type: 'Website',
        url: 'https://a022.vercel.app',
        date: 'May, 2025',
        image: a022,
        stack: ['Astro', 'TypeScript', 'Tailwind CSS']
    },
    {
        name: 'Next MCU',
        type: 'Website',
        url: 'https://next-mcu.vercel.app',
        date: 'January, 2025',
        image: mcu,
        stack: ['PHP', 'MCU API', 'JavaScript', 'CSS', 'HTML']
    },
    {
        name: 'Textest',
        type: 'Webapp',
        url: 'https://textest-app.vercel.app',
        date: 'January, 2025',
        image: ttt,
        stack: ['Vue', 'TypeScript', 'Tailwind CSS', 'CSS']
    },
    {
        name: 'SIGA',
        type: 'System',
        date: 'August, 2024',
        image: siga,
        stack: ['Laravel', 'Vue', 'Laravel Blade', 'PHP', 'JavaScript', 'Bootstrap', 'CSS', 'Laravel Herd']
    },
    {
        name: 'Chess 022',
        type: 'System',
        date: 'March, 2024',
        stack: ['PHP', 'SQL', 'MySQL', 'JQuery', 'JavaScript', 'CSS', 'HTML', 'XAMPP']
    },
    {
        name: 'SIGEI',
        type: 'System',
        date: 'October, 2024',
        stack: ['PHP', 'SQL', 'MySQL', 'JQuery', 'JavaScript', 'Bootstrap', 'CSS', 'HTML']
    }
]

const experience = [
    {
        title: 'Project Manager',
        company: 'Profesionalización Virtual',
        date: 'September, 2025 → April, 2026',
        description:
            'Design of credentials, photography direction and editing, web project development, and coordination of digital products, ensuring consistency, quality, and timely delivery.',
        tags: ['Full-Time', 'Partially In-Person']
    },
    {
        title: 'Jr. Web Designer',
        company: 'Pixel Invitación',
        date: 'August → September, 2025',
        description:
            "Design of personalized digital invitations using graphic resources and CMS. Team collaboration, meeting deadlines, and alignment with the company's design approach.",
        tags: ['Full-Time', 'In-Person', 'Formative Experience']
    },
    {
        title: 'Main Front End Developer',
        company: 'Profesionalización Virtual',
        date: 'April, 2024 → August, 2025',
        description:
            'Design and development of interfaces for systems, websites and applications. Responsible for UX & UI design, layout, testing, and creation of reusable components and utilities.',
        tags: ['Full-Time', 'Remote']
    },
    {
        title: 'Science Teacher',
        company: 'School MindUp',
        date: 'September, 2024 → February, 2025',
        description: 'Programming, technology, and science classes for students ages 8 to 18, combining theory and practice.',
        tags: ['In-Person']
    },
    {
        title: 'Team Leader & Full Stack Developer',
        company: 'Municipal DIF',
        date: 'October, 2023 → May, 2024',
        description:
            "Development of the Integral Management System web project. Overseeing the team's code, defining the project architecture, developing the database, and creating the user interface.",
        tags: ['Partially In-Person', 'Professional Internships']
    },
    {
        title: 'Library Manager',
        company: 'CONALEP',
        date: 'March → September, 2023',
        description:
            'Management of the library collection, resource management, support for the educational community, student counseling, and assistance with activities to promote reading.',
        tags: ['In-Person', 'Social Service']
    }
]

const formation = [
    {
        title: 'Technical Professional–Bachelor in Computer Science',
        company: 'Colegio Nacional de Educación Profesional Técnica',
        date: '2021 → 2024',
        description:
            'Academic excellence. Training in AI, technology, networking and programming. Participation in robotics club, and certifications in networking and Excel applied to databases.'
    },
    {
        title: 'Web Development Courses',
        company: 'Midudev Academy',
        date: 'December, 2025',
        description: 'CSS (animations, grid), Figma, GSAP, HTML, JavaScript (ES2023 & ES2024, promises), Python, Tailwind CSS and TypeScript (utility types).'
    }
]

const stack = [
    {
        title: 'Development',
        skills: ['HTML', 'CSS', 'Git', 'GitHub', 'Markdown']
    },
    {
        title: 'Languages',
        skills: ['TypeScript', 'JavaScript', 'PHP']
    },
    {
        title: 'Frameworks',
        skills: ['Astro', 'Vue', 'Tailwind CSS', 'Bootstrap']
    },
    {
        title: 'Libraries',
        skills: ['React', 'jQuery', 'Shadcn UI', 'Motion']
    },
    {
        title: 'Databases',
        skills: ['SQL', 'MySQL']
    },
    {
        title: 'Design',
        skills: ['Inkscape', 'Figma', 'Canva']
    },
    {
        title: 'Productivity',
        skills: ['Notion', 'Artificial Intelligence', 'Office Suite', 'Google Workspace']
    }
]

const awards = [
    {
        title: 'Chess Tournament',
        info: 'First Place, 2024'
    },
    {
        title: 'Outstanding Commitment to Reading',
        info: 'Award, 2024'
    },
    {
        title: 'Mathematical Reasoning',
        info: 'First Place, 2023'
    },
    {
        title: 'Public Speaking',
        info: 'First Place, 2023'
    },
    {
        title: 'General Knowledge',
        info: 'First Place, 2019'
    }
]
---

<Layout>
    <Header client:load />

    <main class="mt-15 space-y-13">
        <article class="space-y-2">
            <p>
                Front end developer with +3 years of experience in web development. With the intention of exploring its potential to express concepts, and solve problems.
            </p>
            <p>I'm 19 years old, and I started learning to code when I was 15. Originally from Mexico; I speak Spanish, and English (B2 level).</p>
            <p>
                I've a particular interest in design, microinteractions, typography, and coffee, and I appreciate proper spelling and learning – in which I'm particularly
                versed.
            </p>
        </article>
        <div><Contact client:load /></div>
        <section class="space-y-4.5">
            <h2 class="text-muted-foreground">Some Projects</h2>
            <div class="space-y-4">
                {
                    projects.map((project) => {
                        const Card = project.url ? 'a' : 'div'

                        return (
                            <Card
                                href={project.url}
                                target={project.url ? '_blank' : undefined}
                                rel={project.url ? 'noopener noreferrer' : undefined}
                                class="w-full h-fit block p-2.5 space-y-3 group rounded-xl border transition-all"
                            >
                                {project.image && <img src={project.image.src} alt={project.name} class="w-full h-auto rounded-lg object-cover" />}

                                <div class="px-0.75 space-y-1">
                                    <header class="w-full flex items-center justify-between gap-3">
                                        <h2 class="inline-flex">
                                            {project.name}
                                            <span class="text-muted-foreground">, {project.type}</span>
                                        </h2>
                                        <span class="text-sm text-muted-foreground">{project.date}</span>
                                    </header>

                                    <div class="mt-2 flex flex-wrap items-center gap-1">
                                        {project.stack.map((tag) => (
                                            <span class="size-fit px-1.5 py-0.5 text-xs tracking-normal bg-card rounded-sm select-none">{tag}</span>
                                        ))}
                                    </div>
                                </div>
                            </Card>
                        )
                    })
                }
            </div>
        </section>
        <section class="space-y-5">
            <h2 class="text-muted-foreground">Experience</h2>
            {
                experience.map((item) => (
                    <div class="space-y-1">
                        <h2>
                            <strong>{item.title}</strong> – {item.company}
                        </h2>
                        <h3 class="text-sm text-muted-foreground">{item.date}</h3>
                        <p>{item.description}</p>
                        <div class="mt-2 flex items-center gap-1">
                            {item.tags.map((tag) => (
                                <span class="size-fit px-1.5 py-0.5 text-xs tracking-normal bg-card rounded-sm select-none">{tag}</span>
                            ))}
                        </div>
                    </div>
                ))
            }
        </section>
        <section class="space-y-5">
            <h2 class="text-muted-foreground">Formation</h2>
            {
                formation.map((item) => (
                    <div class="space-y-1">
                        <h2 class="font-medium">{item.title}</h2>
                        <h3 class="text-sm text-muted-foreground">
                            {item.company} – {item.date}
                        </h3>
                        <p>{item.description}</p>
                    </div>
                ))
            }
        </section>
        <section class="space-y-5">
            <h2 class="text-muted-foreground">Skills</h2>
            <table class="w-full table-auto">
                <tbody>
                    {
                        stack.map((item) => (
                            <tr class="*:py-1.5">
                                <td class="pr-5 md:pr-8 flex">
                                    <h2>{item.title}</h2>
                                </td>
                                <td>
                                    <h3 class="col-span-2 text-balance text-muted-foreground">
                                        {item.skills.map((skill, index) => (
                                            <span>{`${skill}${index < item.skills.length - 1 ? ', ' : ''}`}</span>
                                        ))}
                                    </h3>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </section>
        <section class="space-y-5">
            <h2 class="text-muted-foreground">Awards</h2>
            <div class="space-y-1.5">
                {
                    awards.map((award) => (
                        <h2 class="sm:flex sm:gap-1.5">
                            {award.title}, <span class="text-muted-foreground">{award.info}</span>
                        </h2>
                    ))
                }
            </div>
        </section>
    </main>
</Layout>
