---
import '@/styles/global.css'
import { site } from '@/data'

const canonical = new URL(Astro.url.pathname, Astro.site)
---

<script is:inline>
    const getThemePreference = () => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme')
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const isDark = getThemePreference() === 'dark'
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

    if (typeof localStorage !== 'undefined') {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains('dark')
            localStorage.setItem('theme', isDark ? 'dark' : 'light')
        })
        observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
    }
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="canonical" href={canonical} />
        <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{site.title}</title>
        <meta name="title" content={site.title} />
        <meta name="author" content={site.author} />
        <meta name="description" content={site.description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={site.url} />
        <meta property="og:title" content={site.title} />
        <meta property="og:description" content={site.description} />
        <meta property="og:image" content={site.preview} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:url" content={site.url} />
        <meta name="twitter:title" content={site.title} />
        <meta name="twitter:description" content={site.description} />
        <meta name="twitter:image" content={site.preview} />
    </head>
    <body class="max-w-113 mx-auto py-30">
        <slot />
    </body>
</html>
